[Unit]
Description=gunicorn daemon for Django
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/cicdaws
ExecStart=/home/ubuntu/env/bin/gunicorn --workers 3 --bind unix:/run/gunicorn.sock cicdaws.wsgi:application

[Install]
WantedBy=multi-user.target
