
[Unit]
Description=gunicorn daemon for Django project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/cicdaws
ExecStart=/home/ubuntu/cicdaws/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/cicdaws/gunicorn.sock cicdaws.wsgi:application

Restart=always
RestartSec=5
Environment=DJANGO_SETTINGS_MODULE=cicdaws.settings
Environment=PYTHONPATH=/home/ubuntu/cicdaws

[Install]
WantedBy=multi-user.target
